<html lang="en">
    <head>
      {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript" src="{% static 'display_spreadsheet/js/main.js' %}"></script>

        <title>Displaying google spreadsheet data</title>

    </head>
    <body>
      <h1>Displaying google spreadsheet data</h1>
        <div id="divChart"></div>
    </body>
</html>
